html{
    scroll-behavior: smooth;
}
.video {
    object-fit:contain;
    max-height:75vh;
}
.ytVideo{
    height:75vh;
    width:100%;
}
.rail{
    border-right:1rem solid transparent;
    max-height:25vh;

    scroll-behavior: smooth;
}
.rail img{
    object-fit:contain;
    height:90%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
